<div id="page-container" style="background-color: #fff;">
    <div id="et-boc" class="et-boc">

        <header>
            <div class="header-1">
                <span>
                    <img src="../../../assets/img/brand/we-hear-you-logo.png" />
                </span>

                <span>
                    <span class="nav-item"><a routerLink="/home">HOME</a></span>
                    <span class="nav-item"><a routerLink="/home">HOW IT WORKS</a></span>
                    <span class="nav-item"><a routerLink="/home">PRICING</a></span>
                    <span class="nav-item"><a routerLink="/home">FAQS</a></span>
                    <span class="nav-item"><a routerLink="/home">CONTACT</a></span>

                </span>
            </div>
        </header>


        <!-- .et-l -->
        <div id="et-main-area">
            <div id="main-content">
                <article id="post-2" class="post-2 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="et-l et-l--post">
                            <div class="et_builder_inner_content et_pb_gutters3">
                                <div class="et_pb_section et_pb_section_0 et_section_regular">
                                    <div class="et_pb_row et_pb_row_0">
                                        <div>
                                            <div style="display:flex;flex-direction: row-reverse;">
                                                <span class="et_pb_image_wrap "><img
                                                        src="../../../assets/img/brand/google-facebook.png" alt=""
                                                        title="google facebook"
                                                        srcset="../../../assets/img/brand/google-facebook.png 605w, ../../../assets/img/brand/google-facebook.png 480w"
                                                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 605px, 100vw"></span>
                                            </div>
                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_center et_pb_bg_layout_light">
                                                <div class="et_pb_text_inner" style="text-align: center;">
                                                    <h1>We help you <span style="color: #686969;"
                                                            class="big-text">collect reviews</span> from your
                                                        clients and start <span style="color: #686969;"
                                                            class="big-text">Online Scheduling</span> on your
                                                        website and automatically send <span style="color: #686969;"
                                                            class="big-text">Appointment Reminders</span> to clients
                                                    </h1>
                                                </div>
                                            </div> <!-- .et_pb_text -->
                                        </div> <!-- .et_pb_column -->
                                    </div> <!-- .et_pb_row -->
                                </div> <!-- .et_pb_section -->
                                <div class="et_pb_section et_pb_section_1 et_section_regular">
                                    <div
                                        class="et_pb_row et_pb_row_1 et_pb_equal_columns et_pb_gutters1 et_pb_row_1-4_3-4">
                                        <div
                                            class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">


                                            <div class="et_pb_module et_pb_image et_pb_image_1">


                                                <span class="et_pb_image_wrap "><img
                                                        src="../../../assets/img/brand/google.jpg"
                                                        alt="" title="google"
                                                        srcset="../../../assets/img/brand/google.jpg 286w, ../../../assets/img/brand/google.jpg 168w"
                                                        sizes="(max-width: 286px) 100vw, 286px"></span>
                                            </div>
                                        </div> <!-- .et_pb_column -->
                                        <div
                                            class="et_pb_with_border et_pb_column_3_4 et_pb_column et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner">
                                                    <h2>With our tool you can:</h2>
                                                </div>
                                            </div> <!-- .et_pb_text -->
                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner">
                                                    <ol>
                                                        <li>Solicite reviews on Google, Facebook and 50+ directories
                                                        </li>
                                                        <li>Incentify your clients for their feedback</li>
                                                        <li>Show your reviews and your star badges on your website
                                                        </li>
                                                        <li>You can send Text or email to ask for feedback</li>
                                                        <li>Online appointment scheduling on your website</li>
                                                        <li>Appointment reminders</li>
                                                        <li>Client database</li>
                                                    </ol>
                                                </div>
                                            </div> <!-- .et_pb_text -->
                                        </div> <!-- .et_pb_column -->


                                    </div> <!-- .et_pb_row -->
                                    <div
                                        class="et_pb_row et_pb_row_2 et_pb_equal_columns et_pb_gutters1 et_pb_row_1-4_3-4">
                                        <div
                                            class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">


                                            <div class="et_pb_module et_pb_image et_pb_image_2">


                                                <span class="et_pb_image_wrap "><img
                                                        src="../../../assets/img/brand/HOW-79x300.jpg"
                                                        alt="" title="HOW"></span>
                                            </div>
                                        </div> <!-- .et_pb_column -->
                                        <div
                                            class="et_pb_with_border et_pb_column_3_4 et_pb_column et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner">
                                                    <h2>How it works?</h2>
                                                </div>
                                            </div> <!-- .et_pb_text -->
                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_left et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner">
                                                    <ol>
                                                        <li>Sign-up and add your locations and users</li>
                                                        <li>Add codes to your website</li>
                                                        <li>Send text and email to your clients and ask for feedback
                                                        </li>
                                                        <li>Gift them an e-gift card if they leave feedback</li>
                                                        <li>Add online appotiment tool to your contact page of your
                                                            website</li>
                                                        <li>Statr usiing the online scheduling tool with appointment
                                                            reminders</li>
                                                        <li>Keep a great database of your clients and boost your
                                                            reviews on Google</li>
                                                    </ol>
                                                </div>
                                            </div> <!-- .et_pb_text -->
                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_5 more-link  et_pb_text_align_right et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner"><a class="more-link"
                                                        href="http://wehearyou.wpengine.com/howitworks/"><span
                                                            class="et-pb-icon">L</span> more</a></div>
                                            </div> <!-- .et_pb_text -->
                                        </div> <!-- .et_pb_column -->


                                    </div> <!-- .et_pb_row -->
                                    <div
                                        class="et_pb_row et_pb_row_3 et_pb_equal_columns et_pb_gutters1 et_pb_row_1-4_3-4">
                                        <div
                                            class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">


                                            <div class="et_pb_module et_pb_image et_pb_image_3">


                                                <span class="et_pb_image_wrap "><img
                                                        src="../../../assets/img/brand/unnamed-file.jpg"
                                                        alt="" title="$"></span>
                                            </div>
                                        </div> <!-- .et_pb_column -->
                                        <div
                                            class="et_pb_with_border et_pb_column_3_4 et_pb_column et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_6  et_pb_text_align_left et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner">
                                                    <h2>How Much is it?</h2>
                                                </div>
                                            </div> <!-- .et_pb_text -->
                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_7  et_pb_text_align_left et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner">
                                                    <div id="footable_parent_180"
                                                        class="footable_parent ninja_table_wrapper wp_table_data_press_parent semantic_ui">
                                                        <table data-ninja_table_instance="ninja_table_instance_0"
                                                            data-footable_id="180" data-filter-delay="500"
                                                            aria-label="Home Table" id="footable_180"
                                                            data-unique_identifier="ninja_table_unique_id_1410507449_180"
                                                            class="foo-table ninja_footable foo_table_180 ninja_table_unique_id_1410507449_180 ui table  nt_type_ajax_table compact vertical_centered  footable-paging-right hide_all_borders ninja_table_search_disabled footable footable-1 footable-paging breakpoint-lg"
                                                            style="display: table;">
                                                            <thead>
                                                                <tr class="footable-header">
                                                                    <th class="ninja_column_0 ninja_clmn_nm_price footable-first-visible"
                                                                        scope="col" style="display: table-cell;">
                                                                        Price</th>
                                                                    <th class="ninja_column_1 ninja_clmn_nm_50"
                                                                        scope="col" style="display: table-cell;">$50
                                                                    </th>
                                                                    <th class="ninja_column_2 ninja_clmn_nm_120"
                                                                        scope="col" style="display: table-cell;">
                                                                        $120</th>
                                                                    <th class="ninja_column_3 ninja_clmn_nm_350"
                                                                        scope="col" style="display: table-cell;">
                                                                        $350</th>
                                                                    <th class="ninja_column_4 ninja_clmn_nm_650"
                                                                        scope="col" style="display: table-cell;">
                                                                        $650</th>
                                                                    <th class="ninja_column_5 ninja_clmn_nm_1500 footable-last-visible"
                                                                        scope="col" style="display: table-cell;">
                                                                        $1500</th>
                                                                </tr>
                                                            </thead>
                                                            <colgroup>
                                                                <col class="ninja_column_0 ">
                                                                <col class="ninja_column_1 ">
                                                                <col class="ninja_column_2 ">
                                                                <col class="ninja_column_3 ">
                                                                <col class="ninja_column_4 ">
                                                                <col class="ninja_column_5 ">
                                                            </colgroup>
                                                            <tfoot></tfoot>
                                                            <tbody>
                                                                <tr class="ninja_table_row_0 nt_row_id_1">
                                                                    <td class="ninja_column_0 ninja_clmn_nm_price footable-first-visible"
                                                                        style="display: table-cell;"><span>Number
                                                                            of<br>Locations</span></td>
                                                                    <td class="ninja_column_1 ninja_clmn_nm_50"
                                                                        style="display: table-cell;"><span>1</span>
                                                                    </td>
                                                                    <td class="ninja_column_2 ninja_clmn_nm_120"
                                                                        style="display: table-cell;">
                                                                        <span>2<br>to<br>5</span></td>
                                                                    <td class="ninja_column_3 ninja_clmn_nm_350"
                                                                        style="display: table-cell;">
                                                                        <span>6<br>to<br>10</span></td>
                                                                    <td class="ninja_column_4 ninja_clmn_nm_650"
                                                                        style="display: table-cell;">
                                                                        <span>11<br>to<br>20</span></td>
                                                                    <td class="ninja_column_5 ninja_clmn_nm_1500 footable-last-visible"
                                                                        style="display: table-cell;">
                                                                        <span>21<br>to<br>35<span></span></span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>




                                                    </div>
                                                </div>
                                            </div> <!-- .et_pb_text -->
                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_8 more-link  et_pb_text_align_right et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner"><a class="more-link"
                                                        href="http://wehearyou.wpengine.com/pricing/"><span
                                                            class="et-pb-icon">L</span> more</a></div>
                                            </div> <!-- .et_pb_text -->
                                        </div> <!-- .et_pb_column -->


                                    </div> <!-- .et_pb_row -->
                                    <div
                                        class="et_pb_row et_pb_row_4 et_pb_equal_columns et_pb_gutters1 et_pb_row_1-4_3-4">
                                        <div
                                            class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">


                                            <div class="et_pb_module et_pb_image et_pb_image_4">


                                                <span class="et_pb_image_wrap "><img
                                                        src="../../../assets/img/brand/FAQs-95x300.jpg"
                                                        alt="" title="FAQs"
                                                        srcset="../../../assets/img/brand/FAQs-95x300.jpg 95w, ../../../assets/img/brand/FAQs.jpg 154w"
                                                        sizes="(max-width: 95px) 100vw, 95px"></span>
                                            </div>
                                        </div> <!-- .et_pb_column -->
                                        <div
                                            class="et_pb_with_border et_pb_column_3_4 et_pb_column et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_9  et_pb_text_align_left et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner">
                                                    <h2>Frequently Asked Questions:</h2>
                                                </div>
                                            </div> <!-- .et_pb_text -->
                                            <div
                                                class="et_pb_module et_pb_accordion et_pb_accordion_0  et_pb_text_align_left">


                                                <div
                                                    class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_0  et_pb_toggle_open">


                                                    <h5 class="et_pb_toggle_title">1. What is “wehearyou.online”?
                                                    </h5>
                                                    <div class="et_pb_toggle_content clearfix">We Hear You Online is
                                                        what businesses are now using to improve their online
                                                        presence and reputation. A few bad reviews have destroyed
                                                        business for many people and we have created a solution to
                                                        this problem. You can now have more control over the reviews
                                                        that are pushed on to the internet. 90% of the work involved
                                                        garnering this positive feedback is done by us. All you need
                                                        to do is add your client’s emails to the website and wait
                                                        for the positive reviews to flow in.</div>
                                                    <!-- .et_pb_toggle_content -->
                                                </div> <!-- .et_pb_toggle -->
                                                <div
                                                    class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_1  et_pb_toggle_close">


                                                    <h5 class="et_pb_toggle_title">2. How does wehearyou.online
                                                        work?</h5>
                                                    <div class="et_pb_toggle_content clearfix">The website allows
                                                        you to log in and add the email addresses of your clients.
                                                        We Hear You Online automatically sends out an email to the
                                                        client and asks for their feedback on the experience with
                                                        your business. If their feedback is positive, they will be
                                                        redirected to your Google and Facebook review pages so that
                                                        they can review your business on those popular websites. As
                                                        potential customers look up your business, they will then
                                                        see these positive reviews. This will not only dramatically
                                                        change your online reputation, but will also help growing
                                                        your client base.</div> <!-- .et_pb_toggle_content -->
                                                </div> <!-- .et_pb_toggle -->
                                                <div
                                                    class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_2  et_pb_toggle_close">


                                                    <h5 class="et_pb_toggle_title"> 3. What are the benefits of
                                                        using wehearyou.online?</h5>
                                                    <div class="et_pb_toggle_content clearfix">One major benefit is
                                                        that you are given the chance to see the feedback,
                                                        especially if it is negative, and improve your business if
                                                        necessary. We give you the functionality to interfere and
                                                        prevent bad reviews on Google, Facebook etc. if they leave a
                                                        bad feedback through We Hear You Online. The most important
                                                        benefit is that you can increase your reviews online and
                                                        people will choose you over your competitor because of your
                                                        positive presence online.</div>
                                                    <!-- .et_pb_toggle_content -->
                                                </div> <!-- .et_pb_toggle -->
                                                <div
                                                    class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_3  et_pb_toggle_close">


                                                    <h5 class="et_pb_toggle_title">4. How much is the service with
                                                        wehearyou.online?</h5>
                                                    <div class="et_pb_toggle_content clearfix">It is $20 per month
                                                        for such a valuable service.</div>
                                                    <!-- .et_pb_toggle_content -->
                                                </div> <!-- .et_pb_toggle -->
                                                <div
                                                    class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_4  et_pb_toggle_close">


                                                    <h5 class="et_pb_toggle_title">5. How does wehearyou.online
                                                        work?</h5>
                                                    <div class="et_pb_toggle_content clearfix">There is no contract
                                                        and you can cancel at any time. Note that when you delete
                                                        your account, we reserve the right to delete all your
                                                        reviews from We Hear you Online.</div>
                                                    <!-- .et_pb_toggle_content -->
                                                </div> <!-- .et_pb_toggle -->
                                                <div
                                                    class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_5  et_pb_toggle_close">


                                                    <h5 class="et_pb_toggle_title">6. How can I sign up?</h5>
                                                    <div class="et_pb_toggle_content clearfix">Click on the signup
                                                        page and simply fill out the form. Please make sure you add
                                                        the links to your own Google review ID and Facebook review
                                                        page and/or any other link to your specific review page
                                                        directory.</div> <!-- .et_pb_toggle_content -->
                                                </div> <!-- .et_pb_toggle -->
                                                <div
                                                    class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_6  et_pb_toggle_close">


                                                    <h5 class="et_pb_toggle_title">7. How can I find my Google
                                                        review link ID?</h5>
                                                    <div class="et_pb_toggle_content clearfix">
                                                        <p>You can click <a
                                                                href="https://developers.google.com/places/place-id"
                                                                target="_blank" rel="noopener noreferrer">here</a>
                                                            and type your business information. Copy and paste the
                                                            ID that appears on the map and post it on the form.</p>
                                                    </div> <!-- .et_pb_toggle_content -->
                                                </div> <!-- .et_pb_toggle -->
                                            </div> <!-- .et_pb_accordion -->
                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_10 more-link  et_pb_text_align_right et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner"><a class="more-link"
                                                        href="http://wehearyou.wpengine.com/faqs/"><span
                                                            class="et-pb-icon">L</span> more</a></div>
                                            </div> <!-- .et_pb_text -->
                                        </div> <!-- .et_pb_column -->


                                    </div> <!-- .et_pb_row -->
                                    <div
                                        class="et_pb_row et_pb_row_5 et_pb_equal_columns et_pb_gutters1 et_pb_row_1-4_3-4">
                                        <div
                                            class="et_pb_with_border et_pb_column_1_4 et_pb_column et_pb_column_9  et_pb_css_mix_blend_mode_passthrough">


                                            <div class="et_pb_module et_pb_image et_pb_image_5">


                                                <span class="et_pb_image_wrap "><img
                                                        src="../../../assets/img/brand/WHO-75x300.jpg"
                                                        alt="" title="WHO"
                                                        srcset="../../../assets/img/brand/WHO-75x300.jpg 75w, ../../../assets/img/brand/WHO.jpg 134w"
                                                        sizes="(max-width: 75px) 100vw, 75px"></span>
                                            </div>
                                        </div> <!-- .et_pb_column -->
                                        <div
                                            class="et_pb_with_border et_pb_column_3_4 et_pb_column et_pb_column_10  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_11  et_pb_text_align_left et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner">
                                                    <h2>About Us:</h2>
                                                </div>
                                            </div> <!-- .et_pb_text -->
                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_12  et_pb_text_align_left et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner">
                                                    <p>NOVA Advertising has a group of innovative, creative and
                                                        skilled individuals who are committed to providing excellent
                                                        website design and search optimization. They know how to
                                                        design websites that are functional, clean and optimize for
                                                        your customers to find you online. NOVA Advertising have a
                                                        simple process to take your vision and transfer it to your
                                                        website. Even if you have a website you are happy with, they
                                                        can help you drive more traffic to increase your visitors.
                                                        Over the past two years the company’s growth is a clear sign
                                                        they are providing quality service to their customers. P.S.
                                                        It might sound like I work for them, I don’t, I just know
                                                        their value.</p>
                                                </div>
                                            </div> <!-- .et_pb_text -->
                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_13 more-link  et_pb_text_align_right et_pb_bg_layout_light">


                                                <div class="et_pb_text_inner"><a class="more-link"
                                                        href="http://wehearyou.wpengine.com/contact/"><span
                                                            class="et-pb-icon">L</span> more</a></div>
                                            </div> <!-- .et_pb_text -->
                                        </div> <!-- .et_pb_column -->


                                    </div> <!-- .et_pb_row -->


                                </div> <!-- .et_pb_section -->
                            </div><!-- .et_builder_inner_content -->
                        </div><!-- .et-l -->
                    </div> <!-- .entry-content -->


                </article> <!-- .et_pb_post -->



            </div> <!-- #main-content -->

            <footer class="et-l et-l--footer">
                <div class="et_builder_inner_content et_pb_gutters3">
                    <div class="et_pb_section et_pb_section_0_tb_footer et_section_regular">




                        <div class="et_pb_row et_pb_row_0_tb_footer et_pb_gutters1 et_pb_row_1-4_3-4">
                            <div
                                class="et_pb_column et_pb_column_1_4 et_pb_column_0_tb_footer  et_pb_css_mix_blend_mode_passthrough et_pb_column_empty">



                            </div> <!-- .et_pb_column -->
                            <div
                                class="et_pb_column et_pb_column_3_4 et_pb_column_1_tb_footer  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                <div
                                    class="et_pb_module et_pb_text et_pb_text_0_tb_footer  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">


                                    <div class="et_pb_text_inner">
                                        <p>Copyright © 2020 <a
                                                href="http://wehearyou.wpengine.com/">wehearyou.online</a>. <a
                                                href="http://wehearyou.wpengine.com/terms/">Terms of Use</a> | <a
                                                href="http://wehearyou.wpengine.com/policy/">Privace Policy</a></p>
                                    </div>
                                </div> <!-- .et_pb_text -->
                            </div> <!-- .et_pb_column -->


                        </div> <!-- .et_pb_row -->


                    </div> <!-- .et_pb_section -->
                </div><!-- .et_builder_inner_content -->
            </footer><!-- .et-l -->
        </div> <!-- #et-main-area -->


    </div><!-- #et-boc -->
</div>